:root {
  /* 高宽尺寸 */
  --max-width: 80rem;

  /* 颜色 */

  /* 文字 */
}

.page-container {
  height: 100vh;
  width: 100vw;
  max-width: var(--max-width);

  margin: 0 auto;
  padding-block: 1rem;
}

.primary-button {
  min-width: 8rem;

  height: 3rem;

  border-radius: 1rem;
  border: 1px solid #0a0a0a;
  padding: 0.5rem;

  color: #0a0a0a;
  transition: all 0.1s ease-in-out;
}

.primary-button:hover {
  color: #f8f8f8;
  background-color: #0a0a0a;
}
